// VARIANTS
:root {
    --black: #000;
    --off-black: #1F1F1F;
    --white: #fff;
    --background-color: #fff;
    --off-white: #F5F5F5;
    --dark-grey: #1c1c1c;
    --light-grey: #808080;
    --blue: #3e6ae1;
    --hover-blue: #2C5BDD;
    --text: #393c41;
}

// HEADER STYLES
* {
    margin: 0;
    padding: 0;
    font-family: "Universal Sans Text", "-apple-system", Arial, sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        line-height: 1.5;
        font-weight: 400;
        color: var(--text);
    }

    // Specific styles per heading level
    h1 {
        font-size: 2.3rem;
        line-height: 1.2;
        font-weight: 600;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.3;
        font-weight: 600;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 1.4;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 500;
    }

    h5 {
        font-size: 1.25rem;
        line-height: 1.6;
        font-weight: 500;
    }

    h6 {
        font-size: 1rem;
        line-height: 1.6;
        font-weight: 500;
    }

    p {
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 1.5rem;
        color: var(--text);
    }
}



.btn {
    padding: 16px 32px;
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &--primary {
        color: var(--white);
        background-color: var(--blue);

        &:hover {
            background-color: var(--hover-blue);
        }
    }

    &--cyber {
        border-radius: 0;
        color: var(--off-white);
        background-color: var(--black);
        text-transform: uppercase;


        &:hover {
            color: var(--off-white);
            background-color: var(--off-black);
        }
    }

    &--tertiary {
        color: var(--grey);
        background-color: var(--white);
        border: none;

        &:hover {
            color: var(--grey);
            background-color: var(--off-white);
        }
    }

}


.section {
    height: 100vh;
    background-size: cover;
    background-position: center;


    &__button-holder {
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }

    .btn {
        padding: 16px 80px;
        cursor: pointer;
    }

    &__content {
        display: flex;
        height: 70vh;
        padding: 8vh 16vh;
        text-align: center;
        flex-direction: column;
        gap: 32px;
        align-items: center;

    }

    h1 {
        color: var(--white);
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    &--1 {


        background-image: url(media/Homepage-APR-Promo-Hero-Desktop-v3.avif);
        height: 100vh;
        width: 100%;
        ;

        .header {
            background-color: transparent;
            padding: 8px 16px;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__logo {
                width: 200px;
            }

            &__center {
                padding: 8px;
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
                width: fit-content;
            }

            .btn--tertiary {
                padding: 8px 16px;
                display: inline-flex;
                background-color: transparent;
                flex-direction: row;
                font-size: 14px;
                font-weight: 500;
                color: var(--white);
                gap: 8px;


                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(4px);
                }
            }



            &__icons {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 16px;
                padding: 0 12px;
                width: fit-content;
                list-style: none;

                &--icon svg {
                    stroke: var(--white);
                    stroke-width: .5px;
                    fill: var(--white);
                    width: 24px;

                    &:hover {
                        stroke: var(--off-white);
                        fill: var(--off-white);
                        cursor: pointer;
                    }
                }
            }

        }


    }


    &--2,
    &--3,
    &--4,
    &--5,
    &--6,
    &--7,
    &--8,
    &--9,
    &--10 {

        h1,
        h2,
        h3,
        h4,
        p {
            font-weight: 600;
            color: var(--white);
        }

        .section__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            gap: 320px;
            padding: 24px;
            text-align: center;
        }

        .section__text-holder {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            text-align: center;
        }


    }

    &--2 {

        background-image: url(media/Homepage-Model-Y-Desktop-US-v2.png);
        width: 100%;


    }

    &--3 {

        background-image: url(media/Homepage-Model-3-Desktop-US.png);
        width: 100%;

    }

    &--4 {

        background-image: url(media/Homepage-Model-X-Desktop-US.png);
        width: 100%;

    }

    &--5 {

        background-image: url(media/Homepage-Model-S-Desktop-US.png);
        width: 100%;

    }

    &--6 {

        background-image: url(media/Homepage-Cybertruck-Desktop-v3.png);
        width: 100%;

        img {
            width: 320px;
        }

        h3 {
            text-transform: capitalize;
            font-weight: 600;
        }


    }

    &--7 {

        background-image: url(media/Homepage-SolarPanels-01-Desktop.avif);
        width: 100%;



    }

    &--8 {

        background-image: url(media/Homepage-SolarRoof-Desktop-US.png);
        width: 100%;


    }

    &--9 {

        background-image: url(media/Homepage-Powerwall-Desktop-US.png);
        width: 100%;


    }

    &--10 {

        background-image: url(media/Homepage-Accessories-Desktop-US.png);
        width: 100%;
        height: 100vh;

    }

    &--11 {

        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;

        h1,
        h2,
        h3,
        p {
            font-weight: 600;
            color: var(--white);
        }


        &__content {
            position: absolute;
            z-index: 20;
            bottom: 5%;
            left: 5%;
            padding: 16px;
            color: white;
            text-align: left;


        }

    }
}

.footer {
    padding: 32px 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    overflow: hidden;

    &_div {
        padding: 0px;
    }

    p {
        font-size: 12px;
        line-height: 1.5rem;
        font-weight: 500;
        color: var(--light-grey);
    }

    ul {
        list-style: none;
    }

    &_div6 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;

        ol {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 12px;
            line-height: 1.5rem;
            font-weight: 600;
            color: var(--light-grey);

        }

        li {
            &:hover {
                cursor: pointer;
                color: var(--black);
            }

        }
    }
}